@import '../../../futuleap/public/styles/variables';


.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.logo {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 34px;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    width: 70%;
    margin: 0 auto;
  }
}

.employeeList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-family: $base-font;

  .employeeCard {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    max-width: 800px;
    border: 5px solid $accent-color;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    &:hover {
      transform: scale(1.01);
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    img {
      max-width: 70%;
      height: auto;
      border-radius: 50%;
      border: 2px solid $accent-color;
      transition: border 0.1s ease;
    }

    h2 {
      margin: 1px 0;
      font-size: 1.6em;
      line-height: 1.3;
      color: $primary-color;
      font-weight: bolder;
    }

    p {
      margin: 5px 0;
      font-size: 0.9em;
      color: $secondary-text-color;
      line-height: 1.4;
    }

    .jobTitle {
      margin-top: 0.5em;
      font-size: 1.2em;
      color: $accent-color;
      font-weight: bolder;
    }

    .contentBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
    }

    .descriptionBox {
      padding: 8px;
      border-radius: 5px;
      margin-left: 15px;
      width: 55%;
      text-align: left;

      &:nth-child(even) {
        margin-left: 0;
        margin-right: 15px;
      }
    }

    .descriptionText {
      padding: 5px;
      margin-bottom: 10px;
      color: $accent-color;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-evenly;
  }
}
