.socialLinks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;

  .socialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: #00FBA9;
    border: 3px solid #04cd94;
    padding: 5px 5px;
    border-radius: 4px;
    font-family: 'Roboto', fallback, sans-serif;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition: background-color 0.2s;

    img {
      position: absolute;
      left: 10px;
      width: 20px;
      height: 20px;
    }

    span.label {
      display: block;
      z-index: 1;
    }

    &:hover {
      background-color: rgba(0, 251, 169, 0.1);
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 15px;

    .socialButton {
      width: 100%;
    }

    .socialLink {
      font-size: 4vw;

      img {
        width: 5vw;
      }
    }
  }
}
