body {
  margin: 0;
  background-color: #141427;
  color: #00FBA9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

address {
  font-family: 'Roboto', fallback, sans-serif;
  font-size: 32px;
  color: #00FBA9;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
}

address a {
  color: #5190e6;
  text-decoration: none;
}

figure.logo {
  width: 100%;
  max-width: 350px;
  height: auto;
}

figure.logo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  figure.logo {
    width: 70%;
    margin: 0 auto;
  }

  address {
    font-size: 6vw;
  }
}


address {
  font-family: 'Roboto', fallback, sans-serif;
  font-size: 32px;
  color: #00FBA9;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
}

address a {
  color: #5190e6;
  text-decoration: none;
}

figure.logo {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}

figure.logo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  figure.logo {
    width: 70%;
    margin: 0 auto;
  }

  address {
    font-size: 6vw;
  }

  .container {
    height: auto;
  }
}
