@import '../../futuleap/public/styles/variables';

body, html {
  color: $primary-color;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media screen and (max-width: $breakpoint-mobile) {
    height: auto;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
