body {
  margin: 0;
  background-color: #141427;
}

address {
  font-family: 'Roboto', fallback, sans-serif;
  font-size: 32px;
  color: #00FBA9;
  text-align: center;
  margin-top: 45px;
  font-style: normal;
}

address a {
  color: #00FBA9;
  text-decoration: none;
}

figure.logo {
  width: 100%;
  max-width: 350px;
  height: auto;
}

figure.logo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  figure.logo {
    width: 70%;
    margin: 0 auto;
  }

  address {
    font-size: 28px;
  }
}
