
@import '../../futuleap/public/styles/variables';

body {
  margin: 0;
  color: $primary-color;
  background-color: $primary-background-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media screen and (max-width: $breakpoint-mobile) {
    height: auto;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
