
$primary-color: #00FBA9;
$primary-background-color: #141427;
$primary-link-color: #5190e6;
$secondary-color: #04cd94;
$accent-color: #5190e6;
$secondary-text-color: #6D828F;
$hover-bg-color: rgba(0, 251, 169, 0.1);

$base-font: 'Roboto', fallback, sans-serif;

$breakpoint-mobile: 600px;
